# Pandas:

- Pandas is an open source library which uses to manipulate data in python.

- pandas import with alias pd.

In [1]:
import pandas as pd

1. Pandas is design to work with rectangular data.

2. In pandas Rectangular data represented as data frame.

3. DataFrame.head():
    This method is used to represent first five rows of dataFrame.
    
4. DataFrame.tail():
    This method is used to represent last five rows of dataFrame.
    

5. DataFrame.head(n):
    This method is used to represent first nth rows of dataFrame, where n is a     natural number.    
    
6. DataFrame.info():
     This is used to get information about dataset.
     
7. DataFrame.Shape():
     This method gives us no of rows and columns of DataFrame.

8. DataFrame.Describe():
     This methods gives us basic statistical values of data columns like mean,      max and std etc.
     
9. .values(), .Colums() and .index()() gives us information about data values,          attribute and columns

## Sorting And Subsetting:

1. DataFrame.sort_values("Columnname"):
- This method is use to sort (ascending or descending ) the values of data set with respect to given column name.
- We can sort values with respect to multiple column by passing in a list.
- we can sort data frame by ascending or descending order by passing key arg ascending = true/false.


2. DataFrame[["Column1","Column2 . ..]]:
- This method is used to print particular column by mentioning column name.
-

In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame(
    {
        'Name':["zeeshan", "Faizan", "Ali"], 
        "F.name": ["ALtaf", "Farooq","Shehzad"],
    "Age":["16",'17','18']})

In [14]:
print(df.head())

      Name   F.name Age
0  zeeshan    ALtaf  16
1   Faizan   Farooq  17
2      Ali  Shehzad  18

In [18]:
df[df["Name"] == 'zeeshan']

      Name F.name Age
0  zeeshan  ALtaf  16

In [21]:
print(df[df["Age"] <'18' ])

      Name  F.name Age
0  zeeshan   ALtaf  16
1   Faizan  Farooq  17

In [23]:
print(df.tail(2))

     Name   F.name Age
1  Faizan   Farooq  17
2     Ali  Shehzad  18

In [28]:
df["full_name"] = df["Name"] +" "+df["F.name"] #Adding new column

In [29]:
print(df)

      Name   F.name Age      full_name
0  zeeshan    ALtaf  16  zeeshan ALtaf
1   Faizan   Farooq  17  Faizan Farooq
2      Ali  Shehzad  18    Ali Shehzad

In [31]:
print(df.Name)

0    zeeshan
1     Faizan
2        Ali
Name: Name, dtype: object

In [35]:
df[["Name","Age"]]

      Name Age
0  zeeshan  16
1   Faizan  17
2      Ali  18