 ## Missing Values.

1. In pandas, Missing data values are shown by Nan means not a number.

2. To Detect missing values we use:
   
   dataframe.isna()


3. Another sufficient way to detect missing values is (Shows name of columns     
   containing missing values):
    
    dataframe.isna().any()


4. To count number of missing values correspond to each column:
     
    dataframe.isna().sum()
  

5. To remove missing values rows we use :

    dataframe.dropna()
    

6. To replace missing values, we use:

    dataframe.fillna(x), where x shows replacing number
  

7.

## Pandas Creating DataFrames.

In [2]:
import pandas as pd

In [4]:
# List of DIctionary Method:

list_1 = [{'name':'Zeeshan', 'f_name':'Altaf'},{'name':'Faizan', 'f_name':'Altaf'}
    
]
print(pd.DataFrame(list_1))

      name f_name
0  Zeeshan  Altaf
1   Faizan  Altaf

In [6]:
# Dictionary of List.

dict_1 = {'name':['Zeeshan','Faizan'], 'f_name':['Altaf','Altaf']
    
}
print(pd.DataFrame(dict_1))

      name f_name
0  Zeeshan  Altaf
1   Faizan  Altaf